.progress_bar {
    margin: 10px;
    width: 100%;
    height: 20px;
    background-color: rgb(222, 215, 215);
    gap: 20px;
}

.stat_info {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.stat_value {
    display: grid;
	grid-column: 115px;
}

.stat_name {
    text-transform: capitalize;
}

.progress {
    background-color: rgb(228, 178, 83);
    height: 20px;
}