.pokecard {
    display: flex;
    background-color: white;
    position: relative;
    width: 250px;
    border: 8px solid;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pokecard_back {
    position: absolute;
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 0 0;
}

.pokecard_name {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 10px;
}

.pokecard_img {
    width: 70%;
    z-index: 10;
}

.pokecard_types {
    display: flex;
    font-size: 14px;
    color: rgba(79, 79, 79, 1);
    margin-bottom: 4px;
}

.pokecard_type {
    font-size: 10px;
    color: rgba(159, 159, 159, 1);
}

.slot2::before {
    content: '/';
    margin: 0 5px;
}

.pokecard hr {
    width: 90%;
    margin: 10px 0;
    border: 0.5px solid rgba(229, 229, 229, 1);
}

.pokecard_stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 20px;
    padding-bottom: 20px;
    grid-column-gap: 80px;
}

.pokecard_stat_name {
    font-size: 10px;
    color: rgba(159, 159, 159, 1);
}

.pokecard_stat_value {
    font-size: 16px;
    font-weight: 600;
}

.pokecard_stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

/*----Colors-----*/

.normal {
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);

}

.fighting {
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);

}

.flying {
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);

}

.poison {
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);

}

.ground {
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);

}

.rock {
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);

}

.bug {
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);

}

.ghost {
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);

}

.steel {
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);

}

.fire {
    background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}

.water {
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}

.grass {
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}

.electric {
    background: linear-gradient(179.75deg, #0C1395 -19.96%, #2B319B 43.67%, #7075D9 138.4%);

}

.psychic {
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);

}

.ice {
    background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);

}

.dragon {
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);

}

.dark {
    background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}

.fairy {
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);

}


/*-----Border-Colors-----*/

.pokecard--normal {
    border-color: rgba(115, 82, 89, 1);
}

.pokecard--fighting {
    border-color: rgba(150, 64, 42, 1);
}

.pokecard--flying {
    border-color: rgba(71, 138, 147, 1);
}

.pokecard--poison {
    border-color: rgba(91, 49, 132, 1);
}

.pokecard--ground {
    border-color: rgba(101, 64, 8, 1);
}

.pokecard--rock {
    border-color: rgba(126, 126, 126, 1);
}

.pokecard--bug {
    border-color: rgba(74, 182, 72, 1);
}

.pokecard--ghost {
    border-color: rgba(50, 53, 105, 1);
}

.pokecard--steel {
    border-color: rgba(94, 115, 108, 1);
}

.pokecard--fire {
    border-color: rgba(230, 144, 30, 1);
}

.pokecard--water {
    border-color: rgba(20, 121, 251, 1);
}

.pokecard--grass {
    border-color: rgba(177, 219, 188, 1);
}

.pokecard--electric {
    border-color: rgba(12, 19, 149, 1);
}

.pokecard--psychic {
    border-color: rgba(151, 27, 69, 1);
}

.pokecard--ice {
    border-color: rgba(111, 190, 223, 1);
}

.pokecard--dragon {
    border-color: rgba(71, 138, 147, 1);
}

.pokecard--dark {
    border-color: black;
}

.pokecard--fairy {
    border-color: rgba(151, 27, 69, 1);
}

/*-----stats colors-----*/


.stats--normal {
    color: rgba(115, 82, 89, 1);
}


.stats--fighting {
    color: rgba(115, 82, 89, 1);
}

.stats--flying {
    color: rgba(71, 138, 147, 1);

}

.stats--poison {
    color: rgba(91, 49, 132, 1);

}

.stats--ground {
    color: rgba(101, 64, 8, 1);
}

.stats--rock {
    color: rgba(126, 126, 126, 1);

}

.stats--bug {
    color: rgba(74, 182, 72, 1);
}

.stats--ghost {
    color: rgba(50, 53, 105, 1);
}

.stats--steel {
    color: rgba(94, 115, 108, 1);
}

.stats--fire {
    color: rgba(231, 92, 53, 1);
}

.stats--water {
    color: rgba(20, 121, 251, 1);
}

.stats--grass {
    color: rgba(65, 100, 96, 1);
}

.stats--electric {
    color: rgba(12, 19, 149, 1);

}

.stats--psychic {
    color: rgba(151, 27, 69, 1);
}

.stats--ice {
    color: rgba(111, 190, 223, 1);
}

.stats--dragon {
    color: rgba(71, 138, 147, 1);
}

.stats--dark {
    color: black;
}

.stats--fairy {
    color: rgba(151, 27, 69, 1);
}